* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
    max-width: 100%;
  }
  
  body {
    background-color: black;
  }
  nav {
    display: grid;
    grid-template-columns: repeat(1, 30% 70%);
    align-items: center;
  }
  
  
#imgLogo {
    width: 80%;
    transition: width 0.5s ease;
  }
  
  #imgLogo:hover {
    width: 75%;
  }
  
  
  #logoCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 0 0 0 5em;
  }
  
  #titulosNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  
  .tituloNav {
    text-decoration: none;
    font-size: clamp(0.5em, 1.8vw, 1.6em);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    transition-duration: 0.2s linear;
  }
  
  .tituloNav:hover {
    border-bottom: 4px solid white;
    transition:  border-bottom 0.1s linear;
  }
  
  #llamanos {
    border: solid;
    padding: 0.4em;
    transition: background-color 0.2s linear, color 0.2s linear;
  }
  
  #llamanos:hover {
    background-color: white;
    color: black;
  }
  
  li {
    list-style: none;
  }

  #proyectosTituloCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em 0 0 0;
    object-fit: cover;
  }

  #proyectoTituloImagen {
    width: 60%;
  }

.proyectoCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8em 0 0 0;
    gap: 4em;
}

.logoProyectoCont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logoImg {
    width: 30%;
    object-fit: cover;
}

.chrunchyrollImg {
  width: 40%;

}

.durangoLogo{
  width: 50%;
}

#batmanLogoImg {
  width: 40%;
}

.leyendasImg {
  width: 40%;
}

.netflixLogo {
  width: 40%;
}

.dumbledore{
  width: 50%;
}

.champios{
  width: 20%;
}

.logoDeas {
  width: 30%;
}

.contenedorGaleria {
    columns: 3;
    padding: 1em 1em;
    column-gap: 0.5em;
}

.contendorImagen{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.imagenGaleria {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    transition: 200ms;
}


.imagenGaleria:hover {
  border: white solid 10px;
  cursor: pointer;
}

.popUpImage {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  text-align: center; 

}

.popUpImage span {
  position: absolute;
    top: 10px;
    right: 10px;
    font-size: 100px;
    color: #fff;
    cursor: pointer;
}

.popUpImage img {
  margin-top: 5%; 
  max-width: 70%; 
  max-height: 80%;
  border: solid 8px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@keyframes revelar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
#OtrosProyectos {
  padding: 10em 0 0 0;
}
h1 {
  text-align: center;
  font-size: 5em;
  font-style: italic;
}

h3 {
  font-size: 10em;
  font-style: italic;
}

p {
    font-size: 2em;
    text-align: center;
    font-style: italic;
    padding: 2em 1em 2em 1em;
}


#llamanosCont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8em 0 0 0;
  gap: 5em;
}

#llamanosPng {
  object-fit: cover;
  width: 50%;
}

#cdmxCont {
  width: 20%;
}

#enviaTitulo {
  font-style: italic;
  font-size: 3em;
}

#mailTelefonoCONT {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}
.correo, .WhatsApplink, .telefono {
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: rgb(255, 255, 255, 0.8);
  transition: color 0.3s ease, background-color 0.3s ease;
  border: solid white;
  padding: 0.5em;
}

.linkContacto, .linkWa {
  text-decoration: none;
}

.correo:hover, .telefono:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

.WhatsApplink:hover {
  color:rgba(56, 212, 35, 0.8);
}

footer {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#arriba {
  display: flex;
  align-self: end;
  justify-self: end;
  width: 5%;
  margin: 0 0.3em 0 0.2em;
}
#arriba a{
  display: flex;
  justify-content: center;
  width: auto;
}
#arriba img {
  width: 100%;
}

#iconosRedesCont {
  width: 10%;
  display: flex;
  padding: 0 0 0 0.2em;
}

#formularioCont {
  display: flex;
  justify-content: center;
  width: 80%;
}

form {
  width: 80%;
}

input,
textarea {
  font-size: 2em;
  width: 100%;
  background-color: black;
  padding: 0.5em;
  font-style: italic;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.3s linear;
  resize: none;
}

input:focus,
textarea:focus {
  border-bottom: white solid 1px;
}

#contButton {
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: end;
}

button {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  display: flex;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  font-size: 2em;
  background-color: black;
  width: 30%;
  cursor: not-allowed;
  text-align: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

button:hover {
  background-color: white;
  color: black;

}
